@import "tailwindcss";

:root {
  --lt-color-gray-100: #f8f9fc;
  --lt-color-gray-200: #f1f3f9;
  --lt-color-gray-300: #dee3ed;
  --lt-color-gray-400: #c2c9d6;
  --lt-color-gray-500: #8f96a3;
  --lt-color-gray-600: #5e636e;
  --lt-color-gray-700: #2f3237;
  --lt-color-gray-800: #1d1e20;
  --lt-color-gray-900: #111213;
  --lt-color-white: #fff !important;
  --lt-color-black: #111213 !important;
  --lt-color-transparent: rgba(255, 255, 255, 0) !important;
  --lt-color-background-light: var(--lt-color-gray-100) !important;
  --lt-color-background-default: var(--lt-color-gray-200) !important;
  --lt-color-background-dark: var(--lt-color-gray-300) !important;
  --lt-color-border-light: var(--lt-color-gray-200) !important;
  --lt-color-border-default: var(--lt-color-gray-300) !important;
  --lt-color-border-dark: var(--lt-color-gray-400) !important;
  --lt-color-text-very-light: var(--lt-color-gray-500) !important;
  --lt-color-text-light: var(--lt-color-gray-600) !important;
  --lt-color-text-default: var(--lt-color-gray-700) !important;
  --lt-color-text-dark: var(--lt-color-gray-800) !important;
  --lt-color-overlay-default: #fff !important;
  --lt-color-overlay-dark: #fff !important;
  --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1) !important;
  --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3) !important;
  --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
  --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
  --clr-black: #000;
  --clr-white: #fff;
  --clr-white-10: #ffffff1c;
  --clr-light-background: #0d1014;
  --clr-light-background-blue: #1D242D;
  --clr-link-blue: #58a0ff;
  --fs-button: 18px;
  --fw-button: 600; 
  --font-mono: 'Roboto Mono', 'Courier New', 'Inconsolata', 'Source Code Pro', 'Menlo', 'Consolas', monospace;
  --ff-mono: 'Roboto Mono', monospace;
  --fs-small: 12px;
}

body {
  background: var(--clr-light-background);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  display: block;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-var-text-40) transparent;
}

.nav-hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #9cc0c3, #767e95, #816f80);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
  border-radius: 1px;
}

.nav-hover:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.faq a {
  color:var(--clr-link-blue);
  cursor: pointer;
}

.primary-button {
  position: relative;
  overflow: hidden;
}

.primary-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #58f1ff63, #5f83f04f, #e54bdb49);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover::before {
  opacity: 1;
}

.secondary-button {
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.secondary-button:hover {
  transform: translateY(-2px);
  border-color: white;
}

.secondary-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  transform: translateX(-100%);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}

.secondary-button:hover::before {
  transform: translateX(0); 
}

@media (min-width: 460px) {
  .secondary-button {
    width: 180px;
  }
  .primary-button {
    width: 180px;
  }
}

@media (min-width: 380px) {
  .yc-backed-tag {
    width: auto;
    padding: 0 8px;
  }
}

.video-container a::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(45deg, #58F1FF, #5F83F0, #E54BDA, #FF8D29);
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s ease;
  z-index: 10;
}

.video-container a::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border: 5px solid rgba(255, 255, 255, 0.3);
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s ease;
  z-index: 20;
}

.video-container a:hover::before,
.video-container a:hover::after {
  opacity: 1;
  transform: scale(1.1);
  animation: pulseEffect 1.5s infinite ease-in-out;
}

.video-container a{
  filter: brightness(90%);
}

.video-container a:hover {
  transform: scale(1.2);
  filter: brightness(100%);
  animation: bounceEffect 0.5s infinite alternate;
}

@keyframes pulseEffect {
  0% {
    transform: scale(0.8);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.6;
  }
}

@keyframes bounceEffect {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes colorShift {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.video-container a:hover .hover-animate-rotate {
  animation: rotate 4s linear infinite;
}

.video-container a:hover .hover-animate-colorShift {
  animation: colorShift 4s infinite;
}

.video-container a:not(:hover)::before,
.video-container a:not(:hover)::after {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s ease;
}

.logo-carousel-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
}

.logo-carousel-container::before,
.logo-carousel-container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 200px;
  z-index: 2;
}

.logo-carousel-container::before {
  left: 0;
  background: linear-gradient(to right, var(--clr-light-background) 0%, rgba(13, 16, 20, 0) 100%);
}

.logo-carousel-container::after {
  right: 0;
  background: linear-gradient(to left, var(--clr-light-background) 0%, rgba(13, 16, 20, 0) 100%);
}

.logo-track {
  display: flex;
  white-space: nowrap;
  width: fit-content;
  animation: scroll 10s linear infinite;
}

.logo-track:hover {
  animation-play-state: paused;
}

.logo-item {
  flex: 0 0 auto;
  width: 120px;
  height: 60px;
  margin: 0 0px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-item img {
  width: 100%; 
  height: auto; 
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.logo-track.reverse {
  animation: scroll-reverse 10s linear infinite;
}

.logo-track.reverse:hover {
  animation-play-state: paused;
}

@media (min-width: 991px) {
  .logo-carousel-container::before, .logo-carousel-container::after {
    width: 300px;
  }
}

.logo-carousel-container::after {
  right: 0;
  background: linear-gradient(to left, var(--clr-light-background) 0%, rgba(13, 16, 20, 0) 100%);
}
.logo-carousel-container::before, .logo-carousel-container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  z-index: 2;
}
.logo-carousel-container::before {
  left: 0;
  background: linear-gradient(to right, var(--clr-light-background) 0%, rgba(13, 16, 20, 0) 100%);
}

.question-box-body.active {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 1s ease-in-out, opacity 0.3s ease-out, padding 0.3s ease-out, margin 0.3s ease-out;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.question-box-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
  background: var(--clr-light-background-blue);
  border-radius: 0 0 8px 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), opacity 0.3s ease-out, padding 0.3s ease-out, margin 0.3s ease-out;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@layer utilities {

  .input-field {
    width: 220px;
    height: 45px;
    border-radius: 25px;
  }
}

